#include <windows.h>
#include "map_3_resource.h"

IDR_Map_3_Main_Menu MENU DISCARDABLE 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Save As..."                   ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "Exit",                        ID_FILE_EXIT
    END

    POPUP "Ctrl"
    BEGIN
        MENUITEM "Zoom In",                     ID_ZOOM_IN
        MENUITEM "Zoom Out",                    ID_ZOOM_OUT
        MENUITEM "Zoom Ctrl ...",               ID_ZOOM_DIALOG
        MENUITEM SEPARATOR
        MENUITEM "Rotate West",                 ID_ROTATE_WEST
        MENUITEM "Rotate North",                ID_ROTATE_NORTH
    END

    POPUP "Features"
    BEGIN
        MENUITEM "Text...",                     ID_Text
        MENUITEM "Rivers"                       ID_Rivers
        MENUITEM "Roads",                       ID_Roads
        MENUITEM "Polit Borders"                ID_Political_Borders
        MENUITEM "Drainage"                     ID_Drainage
        MENUITEM "Airports"                     ID_Airports
    END

END


IDD_ZOOM_CTRL_DIALOG DIALOG DISCARDABLE  0, 0, 129, 47
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Zoom Control"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",ID_OK_Zoom_Ctrl,7,26,50,14
    PUSHBUTTON      "Cancel",ID_CANCEL_Zoom_Ctrl,68,26,50,14
    LTEXT           "New Zoom Factor:",ID_Zoom_Ctrl_Label,7,7,67,13
    EDITTEXT        IDC_Zoom_Factor_Text,77,7,40,14,ES_AUTOHSCROLL | ES_NUMBER
END

//GUIDELINES DESIGNINFO DISCARDABLE 
//BEGIN
//    IDD_ZOOM_CTRL_DIALOG, DIALOG
//    BEGIN
//        LEFTMARGIN, 7
//        RIGHTMARGIN, 122
//        TOPMARGIN, 7
//        BOTTOMMARGIN, 40
//    END
//END

IDD_Text_Features_DIALOG DIALOG DISCARDABLE  50, 50, 129, 47
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Text Features"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",ID_Text_Features_OK,7,26,50,14
    PUSHBUTTON      "Cancel",ID_Text_Features_CANCEL,68,26,50,14
END